@import "bourbon";
@import "neat";
@import "_global";

$card_yellow: #EFEB9E;
$card_blue: #9284E3;

h1 {
  text-align: center;
  font-size: 3rem;
}

.container {
  @include outer-container(1140px);
}

.card {
  @include span-columns(6);
  @include shift(3);

  background: $card_yellow;
}

.poll-create-form, .poll-vote-form, .poll-results {
  font-size: 2rem;

  ol {
    padding: 0;
  }

  textarea, input[type="text"], li, p {
    font-size: inherit;
    font-family: inherit;

    display: block;
    padding: 0.2rem 1rem;
    width: 100%;

    background: none;
    border: none;
    border-bottom: $card_blue 2px solid;
    outline: none;

    resize: none;
  }

  button {
    font-size: inherit;
    font-family: inherit;

    display: block;
    margin: 1rem auto;
    padding: 0.2rem 1rem;
    background: darken($card_yellow, 20%);
    color: darken($card_blue, 15%);

    border: none;
    outline: none;
  }
}

.poll-results {
  @include shift(0);
}

.result-chart {
  @include span-columns(6);
  @include omega();
  padding: 0 5rem;

  h2 {
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 0;
  }
}

.ember-radio-button {
  &:before {
    content: 'x';
    color: rgba(0,0,0,0);
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    text-align: center;

    position: relative;
    top: 4px;

    border: $card_blue 2px solid;
  }

  &.checked:before {
    color: black;
  }

  input {
    display: none;
  }
}
