<form {{action 'vote' on='submit'}}>
  <p>{{poll.question}}</p>

  <ol>
    {{#each poll.options as |option|}}
      <li>
        {{#radio-button class="square-check" value=option groupValue=selected}}
          {{option.name}}
        {{/radio-button}}
      </li>
    {{/each}}
  </ol>

  <button>Vote</button>
</form>