<div class="container">
  <div class="poll-results card">
    <p>{{poll.question}}</p>

    <ol>
      {{#each poll.options as |option|}}
        {{poll-result-item poll=poll option=option}}
      {{/each}}
    </ol>
  </div>

  <div class="result-chart">
    <h2>Results</h2>
    {{chartist-chart type="pie" data=chartData}}
  </div>
</div>
